.input-field {
    display: flex;
    flex-direction: column;
    color: black;

    margin-top: 10px;
    margin-bottom: 10px;
}

.input-field:hover {
    color: rgba(93, 25, 118, 0.95);
}

.input-field-text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    
    line-height: 19px;
    text-align: left;

    padding-bottom: 2px;
}

.input-field-box{
    width: 528px;
    height: 41px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: rgb(52, 52, 52);

    background: white;
    border-radius: 15px;
    border: 2px solid white;

    padding-left: 20px;

}

.input-field-box:hover {
    border-color: rgba(178, 98, 206, 0.95); 
    border-width: 2px;
  }

input:focus{
    border-color: black; 
    border-width: 2px;
}