.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App{
  background: linear-gradient(90.32deg, rgba(178, 98, 206, 0.95) 2.77%, rgba(213, 176, 176, 0.39) 64.07%);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.flex-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.flex-button {
  display: flex;
  margin: 20px;
}

.flex-right {
  display: flex;
  flex-direction: column;
  margin-left: 40%;
}

.flex-test {
  width: 400px;
  height: 200px;
  background-color: black;
}

.flex-button {
  display: flex;
  margin-left: auto;
}

.App-logo {
  position: absolute;
  top: 75px;
  left: 30px;
  height: 108px;
  width: 219px;
}

.absolute-left {
  position: absolute;
  left: 10%;
}